In [ ]:
import pandas as pd
import numpy as np

In [ ]:
def ordinal_encoder(df):
  file=df.select_dtypes(include='object')
  new_file=pd.DataFrame()
  l=[]
  dict={}
  #ask for user preference
  print('Enter your choice:   1. Alphabetically   2. Random')
  k=int(input())

  for col in file.columns:

    if k==2:
      l=list(set(file[col].dropna()))
    elif k==1:
      l=sorted(file[col].dropna().unique())
    else:
      print("Enter valid value")
      ordinal_encoder(df)  
    #Create a dictionary of element present inside list with its index i as key
    for i in l:
      dict[i]= l.index(i)
    # Gives NaN value -1
    dict[np.nan]=-1  
  #Changes the original column for encoded values
  for col in file.columns:
    new_file[col]= file[col].map(dict) 
    # Replace missing value with -1
    file[col] = file[col].fillna(-1)
  return new_file

In [ ]:
data = {
    'Age': [25, 30, np.nan, 22, 25, 28],
    'Salary': [50000, 60000, 60000, np.nan, 50000, 58000],
    'City': ['Delhi', 'Mumbai', np.nan, 'Delhi', 'Pune', np.nan],
    'Name': ['A','B','C','D','E','F']
}

df = pd.DataFrame(data)
k=ordinal_encoder(df)
print(k)

Enter your choice:   1. Alphabetically   2. Random
{'Delhi': 0, 'Mumbai': 1, 'Pune': 2, nan: -1, 'A': 0, 'B': 1, 'C': 2, 'D': 3, 'E': 4, 'F': 5}
   City  Name
0     0     0
1     1     1
2    -1     2
3     0     3
4     2     4
5    -1     5